@import "./variables.scss";
@import "./fonts.scss";

//Global css variables
:root {
	--grid-total-width: 100vw;

	//grid
	--grid-size: calc(var(--grid-total-width) / 12);

	--font-family-default: "hk-grotesk", Helvetica, Arial, Verdana, Tahoma, sans-serif;
	--font-family-serif: "Span", serif;
	--test-var: "Mobile";
	--base-headings-size: 36;

	--header-height: 80px;
	--header-fixed-height: 100px;

	--color-bg: #fff;
	--color-white: #fff;
	--color-light-gray: rgb(240, 240, 240);
	--color-light-gray-1: rgb(221, 221, 221);
}

//Large mobile
@media screen and (min-width: $breakpoint_mobile) {
	:root {
		--test-var: "Large mobile";
	}
}

//tablet or small desktop
@media screen and (min-width: $breakpoint_tablet) {
	:root {
		--test-var: "tablet or small desktop";
	}
}

//Desktop
@media screen and (min-width: $breakpoint_desktop) {
	:root {
		--test-var: "Desktop";
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-family-default);
	background: var(--color-bg);
}

a {
	color: inherit;
	text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
